html {
  scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
}
.nav-bar{
 background-color: #F2E9E4;
 display: flex;
justify-content: space-between;
 text-align: center;
 padding: 0;
        
}
.blog-title {
 display: flex;
 text-align: center;
 padding-left: 30px;
 width:43%;
 text-transform: uppercase;
 font-size: 1.5rem;
}
.blog-title a{
    text-decoration: none;
    color: #000000;
}
.nav-items{
    list-style: none;
    display: flex;
    align-items: center;
    }
    .nav-item{
    display: flex;
    margin: 0 1rem;
    }
    .nav-item a{
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    }
.nav-item a:hover{
    color: #02B3E4;
    
}
.switch-button{
	padding-left: 45%;
    padding-top: 12%;
}
	
input[type="checkbox"]{
  position:relative;
  width:80px;
  height:40px;
  -webkit-appearance:none;
	background: #c6c6c6;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgb(0,0,0,0.2);
	transition: .8s;
}
input:checked[type="checkbox"]{
 background: #c6c6c6;
}
input[type="checkbox"]::before{
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top:0;
	left: 0;
	background: url(img/sun-2.png) no-repeat;
	background-size: cover;
	transform: scale(1.1);
	transition: .5s;
	box-shadow:  0 2px 5px rgb(0,0,0,0.2);
}
input:checked[type="checkbox"]::before{
	left: 40px;
	background: url(img/moon-phase.png) no-repeat;
	background-size: cover;

}

#btn{
	position: fixed;
	z-index: 100;
  background:none;
  width:40px;
  border:none;
  cursor:pointer;
  left:90%;
	top:80%;
	outline:none;
}
#btn i {
  font-size:40px;
	color:#565656;
	outline: none;
}
#btn:hover i{
	    color: #c39478;	
}
@media (max-width:776px){
    .blog-title{
        width: 35%;
        font-size: 1.5rem;
        text-align: center;
    }
    .nav-items{
        display: block;
    }
    .nav-item a{
        font-size: 1.2rem;
    }
    .header-title{
        line-height: normal;
        font-size: 2rem;
    }
    .main-header a{
        font-size: 1.6rem;
    }
    .posts{
        display: block;
        padding: 0;
    }
}
